.card-body1{
    background-color: #037cd3;
    float: left;
    position: absolute;
width: 300px;
height: 150px;
left: 200px;
top: 200px;

    color: #f2f2f2;
    text-align: top;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 15px;
    margin-left: 4rem;
    border-radius: 20px;

} 

.YashDev{
position: absolute;
width: 150px;
height: 150px;
left: 79px;
top: 200px;
}
    
.card-body2{
    background-color: #037cd3;
    float: right;
    position: absolute;
width: 300px;
height: 150px;
right: 200px;
top: 200px;

    color: #f2f2f2;
    text-align: top;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 15px;
    margin-left: 1rem;
    border-radius: 20px;

} 
.LadaliDev{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 850px;
    top: 200px;
    }
.card-body3{
        background-color: #037cd3;
        float: left;
        position: absolute;
    width: 300px;
    height: 150px;
    left: 200px;
    top: 480px;
    
        color: #f2f2f2;
        text-align: top;
        padding: 10px 14px;
        text-decoration: none;
        font-size: 15px;
        margin-left: 4rem;
        border-radius: 20px;
    
    } 
    
.EsheDev{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 79px;
    top: 480px;
    }
    .card-body4{
        background-color: #037cd3;
        float: right;
        position: absolute;
    width: 300px;
    height: 150px;
    right: 200px;
    top: 480px;
    
        color: #f2f2f2;
        text-align: top;
        padding: 10px 14px;
        text-decoration: none;
        font-size: 15px;
        margin-left: 1rem;
        border-radius: 20px;
    
    } 
.NitinDev{
        position: absolute;
        width: 135px;
        height: 150px;
        left: 850px;
        top: 480px;
        }
.AboutUS{
    background-color: rgb(210, 210, 210);
    width: 150px;
    left: 500px;
}  
